<section class="container-liderancas">
  <div class="main-content">
    <div class="header">
      <h1 class="titulo-section-liderancas">Lideranças</h1>
      <p>Conheça os nossos líderes:</p>
     <div class="liderancas-cards-container">
        <div class="liderancas-cards">
            <img src="assets/photo-pr-sebastião.svg" alt="Pastor Sebastião Santos"/>
            <h3>Pr. Sebastião Santos</h3>
            <p><strong>Sebastião dos Santos Oliveira</strong> serve como pastor na Igreja Evangelica Assembleia de Deus Ministerio Missão - Sub-sede Senador Canedo desde 2023.
              Teve um encontro pessoal com Jesus em Setembro de 1985 e, no mesmo período, ingressou no CETADEB - Centro Educacional Teológico das Assembleias de Deus no Brasil,
              onde recebeu sua formação ministerial e teológica.
              Assumiu seu primeiro pastorado na Sede de Santa Vitória Minas Gerais, onde permaneceu por 1 Ano.
              É casado com Edinair Rosa de Jesus Oliveira desde 25 de Junho de 1988 é pai de 2 filhas: Ninfa Naiane e Karla Graziela.
              Também é avô de 3 netas: Eloisa Helena, Antonella Emanuela e Olívia Eleonora.
              Atualmente, além de pastorear, exerce os seguintes cargos no ministério: 2° Vice Presidente do Ministerio Missão de Goias, Coordenador do Setor 3 e Relator da comissão de Trivo da COMADEBG.
            </p>
        </div>

        <div class="liderancas-cards">
            <img src="assets/photo-pr-abimael.svg" alt="Pastor Abimael Santos"/>
            <h3>Pr. Abimael Santos</h3>
            <p><strong>[Nome Completo do Pastor]</strong> serve como pastor na [nome da igreja ou ministério] desde [data de início do pastorado atual]. Teve um encontro pessoal com Jesus em [mês e ano da conversão] e, no mesmo período, ingressou no [nome do seminário ou instituto teológico frequentado], onde recebeu sua formação ministerial e teológica.
              Aos [idade] anos, assumiu seu primeiro pastorado na [nome da igreja e cidade], onde permaneceu por [número de anos]. Posteriormente, liderou a [nome da segunda igreja e local], de [mês e ano de início] a [mês e ano de término].
              É casado com [nome da esposa] desde [data do casamento] e é pai de [número de filhos] filhos: [nomes dos filhos separados por vírgula]. Também é avô de [número de netos] netos: [nomes dos netos separados por vírgula].
              Atualmente, além de pastorear, exerce os seguintes cargos no ministério: [listar os cargos, como por exemplo: presidente do ministério, líder de conselho pastoral, diretor do departamento de missões, etc.].
            </p>
        </div>

        <div class="liderancas-cards">
            <img src="assets/pastores-photo.svg" alt="Pastor Ezequiel Teixeira"/>
            <h3>Pr. Ezequiel Teixeira</h3>
            <p><strong>[Nome Completo do Pastor]</strong> serve como pastor na [nome da igreja ou ministério] desde [data de início do pastorado atual]. Teve um encontro pessoal com Jesus em [mês e ano da conversão] e, no mesmo período, ingressou no [nome do seminário ou instituto teológico frequentado], onde recebeu sua formação ministerial e teológica.
              Aos [idade] anos, assumiu seu primeiro pastorado na [nome da igreja e cidade], onde permaneceu por [número de anos]. Posteriormente, liderou a [nome da segunda igreja e local], de [mês e ano de início] a [mês e ano de término].
              É casado com [nome da esposa] desde [data do casamento] e é pai de [número de filhos] filhos: [nomes dos filhos separados por vírgula]. Também é avô de [número de netos] netos: [nomes dos netos separados por vírgula].
              Atualmente, além de pastorear, exerce os seguintes cargos no ministério: [listar os cargos, como por exemplo: presidente do ministério, líder de conselho pastoral, diretor do departamento de missões, etc.].
            </p>
        </div>

      </div>



    </div>
  </div>
</section>
