<section class="banner-crescimento">
  <div class="banner-content">
    <h2>2025</h2>
    <h1>O Ano do Crescimento</h1>
    <p>"Crescendo na Graça e no conhecimento de nosso senhor Jesus Cristo."<br>
      <strong>2 Pedro 3:18</strong>
    </p>
  </div>
</section>

<section class="ministerios" id="ministerios">
  <div class="ministerios-header">
    <img src="/assets/teto.svg" alt="Teto" class="ministerios-roof" />
    <h1>Ministérios</h1>
    <p>Conheça nossos ministérios:</p>
  </div>
  <div class="ministerios-carousel">
    <button class="carousel-arrow left" (click)="prev()" [disabled]="startIndex === 0">&#8592;</button>
    <div class="ministerios-cards">
      <div class="ministerio-card" *ngFor="let m of visibleMinisterios">
        <h2>{{ m.titulo }}</h2>
        <h3>{{ m.subtitulo }}</h3>
        <div class="culto-info">
          <span><strong>Culto :</strong></span>
          <span>{{m.culto}}</span>
        </div>
        <button class="btn-acessar">Acessar</button>
      </div>
    </div>
    <button class="carousel-arrow right" (click)="next()" [disabled]="startIndex + visibleCards >= ministerios.length">&#8594;</button>
  </div>
</section>

<section class="programacao" id="programacao">
  <div class="programacao-content">
    <h2>Agenda Semanal</h2>
    <div class="agenda-semanal">
      <ul class="agenda-item">
        <li class="agenda">
          <span class="dia">Quarta</span>
          <span class="barra">|</span>
          <div class="horarios">
            <span class="hora">19h30</span>
            <span class="evento">Culto de Ensino</span>
          </div>
        </li>
        <li class="agenda">
          <span class="dia">Sexta</span>
          <span class="barra">|</span>
          <div class="horarios">
            <span class="hora">19h30</span>
            <span class="evento">Culto de Departamentos</span>
          </div>
        </li>
        <li class="agenda">
          <span class="dia">Domingo</span>
          <span class="barra">|</span>
          <div class="horarios">
            <span class="hora">08h30</span>
            <span class="evento">Escola Bíblica Dominical</span>
          </div>
        </li>
        <li class="agenda">
          <span class="dia">Domingo</span>
          <span class="barra">|</span>
          <div class="horarios">
            <span class="hora">18h30</span>
            <span class="evento">Culto da Família</span>
          </div>
        </li>
      </ul>
    </div>
      <button class="btn btn-primary" routerLink="/agenda">
        Ver Agenda Completa
      </button>
      <p>Fique por dentro de tudo que está acontecendo em nossa igreja.<br>
        <strong>Confira nossa agenda de eventos!</strong>
      </p>
  </div>

</section>

<section class="banner-contribua" id="contribua">
  <div class="banner-content-contribua">

    <div class="contribua-text">
       <h2>FAÇA SUA CONTRIBUIÇÃO COM ALEGRIA</h2>
      <p>"Trazei todos os dízimos à casa do tesouro, para que haja mantimento na minha casa"
        <strong>Malaquias 3:10</strong>
      </p>
    </div>

    <div class="contribua-card">
      <img src="/assets/coracao-contribua.svg" alt="Contribua" class="contribua-image" />
      <h2>Dizimos e Ofertas</h2>
      <br><p>Contribua com a obra do Senhor.</p>
      <button class="button-contribua">Contribuir</button>
    </div>


  </div>
</section>
