<div class="app-wrapper">
    <header class="header">

      <div class="header-container">

        <div class="logo">
          <img src="assets/logo-header-iead.svg" alt="IEAD Logo" class="logo">
        </div>


      <button class="menu-toggle" (click)="menuAberto = !menuAberto">
       <span *ngIf="!menuAberto">&#9776;</span>
       <span *ngIf="menuAberto">&#10005;</span>
      </button>

      <nav class="nav" [ngClass]="{'open': menuAberto}">
        <a href="#sobre">Sobre a IEAD</a>
        <a href="#programacao">Programação</a>
        <a href="#ministerios">Ministérios</a>
        <a href="#contribua">Contribua</a>
        <a href="#contato">Contato</a>
      </nav>
      </div>

    </header>

  <main class="main-content">

    <div class="section-tema">
      <div class="container">
      <h1 class="section-tema__title">Igreja Evangélica Assembleia de Deus</h1>
      <p class="section-tema__subtitle">Ministério Missão - Senador Canedo - GO</p>
      </div>
    </div>
    <router-outlet>
    </router-outlet>

  </main>

  <footer class="footer">
      <div class="footer-container">
    <div class="footer-section_endereco">
      <h3>Endereço:</h3>

      <div class="footer__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d571.6136872836609!2d-49.09216473686059!3d-16.69992855507063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ee88fd5f98415%3A0xec78f86eafda9edf!2sIgreja%20EVANG%C3%89LICA%20Assembleia%20de%20Deus!5e1!3m2!1spt-BR!2sbr!4v1751649650738!5m2!1spt-BR!2sbr"
          width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>

      <p>Rua Vereador José Eduardo, Qd 8b, Lote 01</p>
      <strong>Jardim Todos os Santos | Senador Canedo - GO</strong>
    </div>

    <div class="footer-section_igreja">
      <h3>Igreja</h3>
      <ul>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Pedido de Oração</a></li>
        <li><a href="#">Contribuição</a></li>
        <li><a href="#">Ministérios</a></li>
        <li><a href="#">Visite-nos</a></li>
        <li><a href="#">Agenda</a></li>
      </ul>
    </div>

    <div class="footer-section-midiasocial">
      <h3>Redes Sociais</h3>
      <a href="https://instagram.com" target="_blank">
        <img src="assets/instagram.svg" alt="Instagram" class="footer-social" />
      </a>

      <a href="" target="_blank">
        <img src="assets/youtube.svg" alt="You Tube" class="footer-social" />
      </a>
    </div>
      </div>

      <div class="footer__bottom">
    <img src="assets/logo-iead-subsede.svg" alt="Logo Igreja" class="footer__logo" />
    <p>Copyright © 2025 Igreja Evangélica Assembleia de Deus Ministério Missão. Todos os direitos reservados.</p>
    <span>Site desenvolvido com propósito para a glória de Deus.</span>
      </div>
  </footer>
</div>

