html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  app-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

main, .main-content {
  flex: 1 0 auto;
}


